
td {
    color: purple;
	background-color: yellow;
	font-style: italic;
}	
a {
	font-family: monospace;
	text-decoration: none;
	font-weight: none;
}

a:link {
	color: purple;
}
a:visited {
	color: orange;
}
a:hover {
	text-decoration: underline;
	color: green;
	background-color: blue;
}

