h1 {
    font-family: serif;
	color: red;
	background-color: yellow;
}	
a {
	font-family: monospace;
	text-decoration: none;
	font-weight: none;
}

a:link {
	color: blue;
}

a:visited {
	color: red;
}
a:hover {
	color: black;
	font-weight: bold;
}
a:active {
	text-decoration: none;
}


