tr:nth-child(even) {
    color: purple;
	background-color: orange;
	font-style: italic;
}	

tr:nth-child(odd) {
    color: yellow;
	background-color: green;
	font-style: italic;

a {
	font-family: monospace;
	color: blue;
	text-decoration: none;
	font-weight: none;
}

a:link {
	color: blue;
}
a:visited {
	color: orange;
}
a:hover {
	text-decoration: underline;
	color: green;
	background-color: blue;
}

